/* Josh's Custom CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

:root{
    --primary: #000000;
    --background: #ffffff;
    --gray: #000000;
    --accent: #03ac7c;
}

@font-face {
    /* https://open-foundry.com/fonts/bagnard_regular */
	font-family: Bagnard;
	src: url('/Bagnard.otf') format('opentype');
	font-display: swap;
}

*{
    /* https://systemfontstack.com/ */
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    color: var(--gray);
}

.custom-font{
    font-family: "Bagnard", serif;
    font-weight: bold;
    letter-spacing: -1px;
}

a:hover, a:focus, a:hover *, a:focus * {
    color: var(--accent)!important;
}

html {
    background:  var(--background);
}

body {
    width: 100%;
    max-width: 80ch;
    margin: 0 auto;
    padding: 1rem;
}

main {
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.font-normal {
    font-weight: normal;
}

.main-grid {
    display: flex;
}

.wrapper {
    border: 1px solid var(--primary);
    border-left: none;
    flex: 1 1 auto;
    width: 100%;
}

.side {
    border: 8px solid var(--primary);
    background:  var(--primary);
}

.text-lg {
    font-size: 1.5rem;
}

.text-sm {
    font-size: .7rem;
}

.pad {
    padding: 1.5rem;
}

.pad-sm {
    padding: 0.5rem;
}

.gap {
    gap: .5rem;
}

.pt-sm {
    padding-top: .5rem;
}

.pb-sm {
    padding-bottom: .5rem;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.bt {
    border-top: 1px solid var(--primary);
}

@media (max-width: 768px){
    .flex-between{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .main-grid {
        flex-direction: column;
    }

    .side {
        width: 100%;
        height: 5px;
    }
    .wrapper {
        border-left: 1px solid var(--primary);
    }
    .wrapper.flex-col{
        border-bottom: none;
    }
}