/* Josh's Custom CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

:root{
    --primary: #d5d5d5;
    --background: #fff;
    --gray: #626262;
    --accent: #db9a00;
}

*{
    /* https://systemfontstack.com/ */
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    color: var(--gray);
    font-weight: 600;
    font-size: 16px;
}

a:hover, a:focus {
    color: var(--accent)!important;
}

html {
    background:  var(--background);
}

body {
    width: 100%;
    max-width: 80ch;
    margin: 0 auto;
    padding: 1rem;
}

main {
    display: flex;
    gap: .8rem;
    flex-direction: column;
}

.main-grid {
    display: flex;
}

.wrapper {
    border: 1px solid var(--primary);
    border-left: none;
    flex: 1 1 auto;
}

.side {
    width: 5px;
    border: 1px solid var(--primary);
    background:  var(--primary);
}

.text-lg {
    font-size: 1.5rem;
}

.text-sm {
    font-size: .7rem;
}

.pad {
    padding: .5rem;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
.bt {
    border-top: 1px solid var(--primary);

}

@media (max-width: 701px){
    .flex-between{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .main-grid {
        flex-direction: column;
    }

    .side {
        display: none;
    }
    .wrapper {
        border-left: 1px solid var(--primary);
    }
}