<footer>
    <p><small><b>This website was last updated:</b><br />{{ page.date.toLocaleString("en-AU", { timeZone: 'Brisbane/Australia' }) }}</small></p>
    <p><small>&copy; 2024 - 2025</small></p>
</footer>