<footer>
    <p><small><b>This website was last updated:</b> {{ page.date.toLocaleString("en-AU", { timeZone: 'Australia/Brisbane' }) }}</small></p>
    <p><small>&copy; 2024 - 2025</small></p>
</footer>