<footer>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="mailto:sams.huth@gmail.com">Email me</a></li>
            <li><a href="/Samuel_Huth_Resume_2025.pdf" target="_blank">Resume</a></li>
            <li><a href="/ai">/ai</a></li>
            <li><a href="/blogroll">/blogroll</a></li>
            <li><a href="/colophon">/colophon</a></li>
            <li><a href="/now">/now</a></li>
            <li><a href="https://github.com/SamHuth/" target="_blank" rel="noopener noreferrer">Github</a></li>
            <li><a href="https://www.branchingweb.com.au/" target="_blank" rel="noopener noreferrer">Branching Web</a></li>
        </ul>
    </nav>
    <p>&copy; 2024 - 2025</p>
</footer>