<!doctype html>
<html lang="en">
    <head>
        {# Meta Data #}
        {% include "meta_data.njk" %}
        {# Schema Data #}
        {% include "schema_data.njk" %}
        <link rel="stylesheet" href="/style.css">
    </head>
    <body id="site">
        <main>
            <section class="flex-between">
                <h1 class="text-lg font-normal custom-font">Frontend Developer</h1>
                <span id="clock">00:00:00</span>
            </section>
            <section>
                <div class="main-grid ">
                    <div class="side"></div>
                    <div class="wrapper flex-col">
                        <div class="vert-col">
                            <div class="pad">
                                <h2 class="custom-font">Hi, I'm Sam</h2>
                                <p class="text-sm pb-sm">I like carefully crafting user interfaces and building high quality performant websites and applications. I work with React, WordPress and Eleventy.</p>
                                <p class="text-sm">Currently working as Frontend Developer at <a href="https://stafflink.com.au" target="_blank" rel="noopener noreferrer">STAFFLINK</a>. I am available for freelance work at <a href="https://branchingweb.com.au" target="_blank" rel="noopener noreferrer">Branching Web</a>, which I want to grow into a development studio with self managed sustainable website hosting.</p>
                            </div>
                        </div>
                        <div class="vert-col bt">
                            <div class="pad">
                                <h2 class="custom-font">Projects</h2>
                                <p class="text-sm pt-sm"><b>Finished</b></p>
                                <p class="text-sm">
                                    <a href="https://covecatering.com.au/" target="_blank" rel="noopener noreferrer">Cove Catering</a></p>
                                <p class="text-sm">
                                    <a href="https://uniquemobilemechanic.com.au" target="_blank" rel="noopener noreferrer">Unique Mobile Mechanic</a>
                                </p>
                                <p class="text-sm pt-sm"><b>In Progress</b></p>
                                <p class="text-sm">
                                    <a href="https://github.com/SamHuth/branchingweb.com.au-11ty" target="_blank" rel="noopener noreferrer">Branching Web Redesign</a>
                                </p>
                                <p class="text-sm">
                                    <a href="https://github.com/SamHuth/htbawd" target="_blank" rel="noopener noreferrer">How to be a Web Developer</a>
                                </p>
                                <p class="text-sm pt-sm"><b>Limbo</b></p>
                                <p class="text-sm"><strike>AFL Stats</strike></p>
                                <p class="text-sm"><strike>Google Trends Game</strike></p>
                                <p class="text-sm"><strike>Habit Tracker</strike></p>
                                <p class="text-sm"><strike>Budgeting App</strike></p>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="pad">
                            <h2 class="custom-font">Work</h2>
                            <p class="text-sm pt-sm"><b>Current</b></p>
                            <p class="text-sm"><b>Frontend Developer</b></p>
                            <p class="text-sm pb-sm"><a href="https://stafflink.com.au" target="_blank" rel="noopener noreferrer">STAFFLINK</a> | <i>July 2022 - Present</i></p>
                            <p class="text-sm pt-sm"><b>Previous</b></p>
                            <p class="text-sm"><b>Web Developer</b></p>
                            <p class="text-sm"><a href="https://stafflink.com.au" target="_blank" rel="noopener noreferrer">STAFFLINK</a> | <i>June 2021 - July 2022</i></p>
                            <p class="text-sm pt-sm"><b>Web Developer</b></p>
                            <p class="text-sm"><a href="https://www.ose.com.au/" target="_blank" rel="noopener noreferrer">OSE</a> | <i>February 2021 - March 2021</i></p>
                            <p class="text-sm pt-sm"><b>Web Developer</b></p>
                            <p class="text-sm"><a href="https://www.simprogroup.com/" target="_blank" rel="noopener noreferrer">simPRO Software</a> | <i>January 2018 - February 2021</i></p>
                            <p class="text-sm pt-sm"><b>Web Developer</b></p>
                            <p class="text-sm"><a href="https://www.australiazoo.com.au/" target="_blank" rel="noopener noreferrer">Australia Zoo</a> | <i>October 2015 - July 2017</i></p>
                        </div>
                    </div>
                </div>
            </section>
            <br />
            <br />
            <section class="flex-col flex-center pad gap">
                <a href="https://github.com/SamHuth/" target="_blank" rel="noopener noreferrer" class="text-sm">Github</a>
                <a href="mailto:sams.huth@gmail.com" target="_blank" rel="noopener noreferrer" class="text-sm">Email</a>
                <a href="https://www.branchingweb.com.au/" target="_blank" rel="noopener noreferrer" class="text-sm">Branching Web</a>
                <span class="text-sm">&copy; 2024</span>
            </section>
        </main>
    </body>
    <script>
        const span = document.getElementById('clock');

        function time() {
            const d = new Date();
            const s = d.getSeconds();
            const m = d.getMinutes();
            const h = d.getHours();
            span.textContent = 
            ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2);
        }

        setInterval(time, 1000);
    </script>
</html>