<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>{{ data.title }} | {{data.name}} | {{ data.url }}</title>
    </head>
    <body>
        {# {{ content | safe }} #}
        <main>




            <section class="flex-between">
                <p class="text-lg">{{ data.title }}</p>
                <span id="clock">00:00:00</span>
            </section>
            <section>
                <div class="main-grid ">
                    <div class="side"></div>
                    <div class="wrapper flex-col">
                        <div class="vert-col">
                            <p class="pad">About</p>
                        </div>
                        <div class="vert-col bt">
                            <p class="pad">Projects</p>
                        </div>
                    </div>
                    <div class="wrapper">
                        <p class="pad">Work</p>
                    </div>
                </div>
            </section>
            <section class="flex-between flex-start">
                <a href="#" class="pad text-sm flex-between">Github</a>
                <a href="#" class="pad text-sm flex-between">Email</a>
                <a href="#" class="pad text-sm flex-between">Branching Web</a>
            </section>
        </main>
    </body>
    <script>
        const span = document.getElementById('clock');

        function time() {
            const d = new Date();
            const s = d.getSeconds();
            const m = d.getMinutes();
            const h = d.getHours();
            span.textContent = 
            ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2);
        }

        setInterval(time, 1000);
    </script>
</html>