<div>
    <nav>
        <ul>
            {%- for post in collections.menuItems -%}
            <li><a {% if page.url === post.url %} aria-current="page"{% endif %} href="{{ post.url }}">{{ post.data.title }}</a></li>
            {%- endfor -%}
        </ul>
    </nav>
</div>