<nav aria-labelledby="nav-heading">
    <h2 id="nav-heading">Menu</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ai">/ai</a></li>
        <li><a href="/blogroll">/blogroll</a></li>
        <li><a href="/colophon">/colophon</a></li>
        <li><a href="/now">/now</a></li>
        <li><a href="/about">/about</a></li>
        <li><a href="/resume">/resume</a></li>
        <li><a href="/notes">/notes</a></li>
        <li><a href="/links">/links</a></li>
        <li><a href="https://github.com/SamHuth/" target="_blank" rel="noopener noreferrer">Github <sup>[⤴]</sup></a></li>
        <li><a href="https://www.branchingweb.com.au/" target="_blank" rel="noopener noreferrer">Branching Web <sup>[⤴]</sup></a></li>
    </ul>
</nav>