<hr />
<h2>On this site</h2>
<nav>
    <ul>
        {%- for post in collections.menuItems -%}
            <li><a {% if page.url === post.url %} aria-current="page"{% endif %} href="{{ post.url }}">{{ post.data.menuTitle }}</a></li>
        {%- endfor -%}
    </ul>
</nav>