<!doctype html>
<html lang="en-AU">
    <head>
      {# Meta Data #}
      {% include "meta_data.njk" %}
      {# Schema Data #}
      {% include "schema_data.njk" %}
      <link rel="stylesheet" href="css/main.css">
    </head>
  </head>
  <body id="site">
    <header>
      <h1>{{ title }}</h1>
    </header>
    <main>
      {{ content | safe }}
      <p>Last Modified: {{ page.date.toLocaleString('en-AU') }}</p>
    </main>
      {% include "footer.njk" %}
  </body>
</html>