<!doctype html>
<html lang="en-AU">
  <head>
    {# Meta Data #}
    {% include "meta_data.njk" %}
    {# Schema Data #}
    {% include "schema_data.njk" %}
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body id="site">
    <a href="#content">Skip to content</a>
    {% include "header.njk" %}
    <aside>
      {% include "navigation.njk" %}
    </aside>
    <main id="content">
        <h1>{{ title }}</h1>
        {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  </body>
</html>