<!doctype html>
<html lang="en-AU">
  <head>
    {# Meta Data #}
    {% include "meta_data.njk" %}
    {# Schema Data #}
    {% include "schema_data.njk" %}
    <link rel="stylesheet" href="/css/photos.css">
  </head>
  <body id="site">
    <a href="#content">Skip to content</a>
    <header>
      <small>Sam Huth - Web Developer</small>
    </header>
    <aside>
      {% include "navigation.njk" %}
    </aside>
    <main id="content">
        <h1>{{ title }}</h1>
        {{ content | safe }}
        <ul>
            {%- for post in collections.photos -%}
                <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
                {{ post.content | safe }}
            {%- endfor -%}
        </ul>
    </main>
    {% include "footer.njk" %}
  </body>
</html>