<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Person",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Brisbane",
                "addressCountry": "Australia"
            },
            "email": "mailto:{{ site.author.email }}",
            "jobTitle": "{{ site.author.role }}",
            "name": "{{ site.author.name }}",
            "url": "{{ site.domain }}"
        }
        </script>